.main-page-pokemon {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.avatar-container {
  padding: 10px;

  p {
    text-align: center;
    margin-top: 0px;
  }
}

.text-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
